/* .hero-p {
    background-image: url(../../../assets/hero.png);
    background-size: cover;
} */


.hero-p .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 14px !important;
}


.hero-p .swiper-pagination-bullet {
    background: var(--orange-primary);
    margin-right: 100px !important;
}

.hero-p .swiper-pagination-bullet-active {
    height: 26px;
    background-image: url("../../../assets/bullet_active.png") !important;
    border-radius: 20px;
}


.hero_leading {
    background-image: url("../../../assets/logo.gif");
    -webkit-background-clip: text;
    color: transparent;
}